.header {
  height: 7vh;
  width: auto;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  width: auto;
  height: 2.5rem;
  cursor: pointer;
  margin-left: 2rem;
}

.main-text {
  text-align: center;
  font-size: 2rem;
  color: white;
  /* margin-right: 47rem; */
}
